form#contact-form(action='contact' method='post')
  fieldset
  .form-group
    input#name.form-control(name='name', placeholder='Name')
  .form-group
    input#email.form-control(name='email', placeholder='Email')
  .form-group
    textarea#message.form-control(name='message', placeholder='Message', rows=5)
  .form-group
    button.btn.btn-lg(type='submit') Send
