form#contactForm(action='contact', name='contactme', method='post')
  fieldset
  .form-group
    input#nameInput.form-control(name='name', placeholder='Name')
  .form-group
    input#emailInput.form-control(name='email', placeholder='Email')
  .form-group
    textarea#messageInput.form-control(name='message', placeholder='Message', rows=5)
  .form-group
    button.btn.btn-lg(type='submit') Send
