#projects.container-fluid
  .container
    .row
      .col-lg-12
        h1.projects Projects
    .row
      .col-lg-12
        .projects-container
          .project
            p collaborative-whiteboard
          .project
            p candy-crash
          .project.special1
            p candle life
          .project
            p isotope-reddit
          .project.special1
            p breakout-js
