doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/blog.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900', rel='stylesheet', type='text/css')

    if title
      title= title
      link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500' rel='stylesheet' type='text/css')
      link(rel='stylesheet', href='/bower_components/highlightjs/styles/monokai-sublime.css')
    else
      title Wahid's blog

  body
    if articles
      #home
        a(href='/') WR
      #wrapper
        each article in articles
          .article
            a(href='blog/article/' + article.url)
              h3.title= article.title
            span.date= article.date
            if article.tags
              ul.tags
                each tag in article.tags
                  li.tag= tag
    else if title
      #wrapper
        block content

    include extras/google-analytics.html
