extends layout

block content
  .container
    .row
      .col-lg-12
        #greeter
          p desk photo goes here
          .text-right
            h1 Wahid Rahim
            h5 developer | blogger | entrepreneur

  .container
    .row
      .col-lg-12
        #portfolio
          h1 Portfolio
    .row
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project

  .container
    .row
      .col-lg-12
        #skills
          h1 Skills

  .container
    .row
      .col-lg-12
        #contact
          h1 Contact me
