extends layout
block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#bs-navbar-collapse', aria-expanded='false', type='button')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Wahid Rahim
      #bs-navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#portfolio-top') portfolio
          li
            a(href='#skills-top') skills
          li
            a(href='#contact-top') contact
          li
            a(href='/blog') blog

  #portfolio-top
  #portfolio-container.container-fluid
    include index/portfolio

  #skills-top
  #skills-container.container
    - var skills_js = 80
    - var skills_html = 100
    - var skills_css = 90
    - var skills_cpp = 65
    - var skills_java = 70
    - var skills_c = 60
    - var skills_csharp = 50
    - var skills_ruby = 55

    include index/skills

  #contact-top
  #contact-container
    include index/contact

  #footer
    .container
      .col-xs-2
        span#copy &copy; Wahid Rahim 2016
      .col-xs-8.text-center
        a.btn.btn-social-icon.btn-github(href='https://github.com/wahidrahim', target='_blank')
          span.fa.fa-github
        a.btn.btn-social-icon.btn-linkedin(href='https://www.linkedin.com/in/wahidrahim', target='_blank')
          span.fa.fa-linkedin
        a.btn.btn-social-icon.btn-twitter(href='https://twitter.com/wahidrahim', target='_blank')
          span.fa.fa-twitter
      .col-xs-2.text-right
        | #[img.powered(src='images/nodejs.png')] powered
