extends layout

block content
  .container
    .row
      .col-lg-12
        #greeter
          p desk photo goes here
          .text-right
            h1 Wahid Rahim
            h5 developer | blogger | entrepreneur

  .container
    .row
      .col-lg-12
        #portfolio
          h1 Portfolio
    .row
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project
      .col-sm-4
        .project
          p a project

  .container
    .row
      .col-lg-12
        #skills
          h1 Skills
    .row
      .col-sm-3
        p Javascript
      .col-sm-3
        p 4/5
      .col-sm-3
        p C++
      .col-sm-3
        p 3/5
    .row
      .col-sm-3
        p HTML
      .col-sm-3
        p 5/5
      .col-sm-3
        p C
      .col-sm-3
        p 3/5
    .row
      .col-sm-3
        p CSS
      .col-sm-3
        p 5/5
      .col-sm-3
        p Ruby
      .col-sm-3
        p 3/5

  .container
    .row
      .col-lg-12
        #contact
          h1 Contact me
