extends layout

block content
  #greeter.container-fluid
    .container
      .row
        .col-lg-12
          p desk photo goes here
          .text-right
            h1 Wahid Rahim
            h5 developer | blogger | entrepreneur

  include includes/portfolio
  include includes/skills

  #contact.container-fluid
    .container
      .row
        .col-lg-12
          h1 Contact me
      .row
        .col-lg-12
          include ./includes/contact_form.jade
