doctype html
html
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title

    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='bower_components/masonry/dist/masonry.pkgd.min.js')
    script(src='bower_components/bootstrap-validator/dist/validator.min.js')
    script(src='bower_components/df-visible/jquery.visible.min.js')
    script(src='/javascripts/scripts.js')
