doctype html
html
  head
    link(rel='stylesheet', href='styles/bootstrap.css')
    link(rel='stylesheet', href='styles/styles.css')

    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300,900', rel='stylesheet', type='text/css')
  body
    include ./includes/navbar.jade

    block content

    include ./includes/footer.jade
