#portfolio
  .item
    video.img-responsive(loop)
      source(src='https://zippy.gfycat.com/TerribleOptimalBlackbuck.webm', type='video/webm')
      source(src='https://zippy.gfycat.com/TerribleOptimalBlackbuck.mp4', type='video/mp4')
    a(href='http://wahidrahim.com:3000/demo/blackboard', target='_blank')
      h3 Blackboard
    .stack
      i Node.js, Express.js, Socket.io, Fabric.js, CoffeeScript
    .desc
      | Real-time multi-user drawing application. Made simply, thanks to Socket.io and Fabric.js.
    a.source(href='https://github.com/wahidrahim/blackboard' target='_blank')
      | https://github.com/wahidrahim/blackboard

  .item
    img.img-responsive(src='http://i.imgur.com/qq80zjW.png')
    a(href='http://carpetblog.herokuapp.com/', target='_blank')
      h3 Carpet
    .stack
      i Node.js, Express.js, Markdown
    .desc
      | A simple static blog engine. Built for extensibility and ease of use.
    a.source(href='https://github.com/wahidrahim/carpet', target='_blank')
      | https://github.com/wahidrahim/carpet

  .item
    video.img-responsive(loop)
      source(src='https://fat.gfycat.com/GiftedWelldocumentedKingfisher.mp4', type='video/mp4')
      source(src='https://fat.gfycat.com/GiftedWelldocumentedKingfisher.webm', type='video/webm')
    h3 Candy-Crash
    .stack
      i C++, Bash, X-graphics
    .desc
      | A match-3 type of game, written in C++, in collaboration with Larry Li.
    a.source(href='https://github.com/wahidrahim/Candy-Crash', target='_blank')
      | https://github.com/wahidrahim/Candy-Crash

  .item
    img.img-responsive(src='http://i.imgur.com/uHPveze.jpg')
    a(href='https://todo-mean-app.herokuapp.com/', target='_blank')
      h3 todo-mean-app
    .stack
      i MongoDB, Express.js, Angular.js, Node.js
    .desc
      | The 'Hello World' of CRUD apps.
    a.source(href='https://github.com/wahidrahim/mean-todo-app', target='_blank')
      | https://github.com/wahidrahim/mean-todo-app

  .item
    img.img-responsive(src='http://i.imgur.com/dgkoQjO.png')
    a(href='http://bloggerails.herokuapp.com/')
      h3 blogger
    .stack
      i Ruby on Rails
    .desc
      | Blogging app, including authentication and commenting
    a.source(href='https://github.com/wahidrahim/blogger', target='_blank')
      | https://github.com/wahidrahim/blogger

  .item
    video.img-responsive(loop)
      source(src='https://zippy.gfycat.com/BeautifulLoathsomeDragon.mp4', type='video/mp4')
      source(src='https://zippy.gfycat.com/BeautifulLoathsomeDragon.webm', type='video/webm')
    a(href='http://breakout-arcade.herokuapp.com/', target='_blank')
      h3 breakout-arcade
    .stack
      i JavaScript, HTML, CSS
    .desc
      | The classic game in pure Object Oriented JavaScript.
    a.source(href='https://github.com/wahidrahim/breakout-arcade', target='_blank')
      | https://github.com/wahidrahim/breakout-arcade

  .item
    video.img-responsive(loop)
      source(src='https://fat.gfycat.com/JealousBestEmperorpenguin.mp4', type='video/mp4')
      source(src='https://zippy.gfycat.com/JealousBestEmperorpenguin.webm', type'video/webm')
    //-img.img-responsive(src='http://i.imgur.com/qsDPtsj.gif')
    h3 resize-font.vim
    .stack
      i VimL
    .desc
      | A tiny script for making fonts bigger/smaller in gVim.
    a.source(href='https://github.com/wahidrahim/resize-font.vim', target='_blank')
      | https://github.com/wahidrahim/resize-font.vim
