body {
  padding: 50px;
  font-family: 'Roboto', Arial, sans-serif;
}
a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: #FF3E7D;
}

#home {
  display: block;
}
#home a {
  font-size: 64px;
  font-weight: 900;
  display: inline-block;
}

#wrapper,
#disqus {
  width: 960px;
  margin: 0 auto;
}

.article {
  border-radius: 2px;
  border-bottom-color: rgba(0,0,0,1.0);
  padding: 10px;
}
.article .title {
  font-size: 48px;
}
.article .tags {
  list-style-type: none;
  margin-top: 10px;;
  padding: 0;
}
.article .tags .tag {
  background-color: rgba(0,0,0,0.2);
  display: inline;
  margin-right: 5px;
  padding: 2px 6px 2px 6px;
}

.title {
  margin-bottom: 0px;
}

.body {
  margin-top: 50px;
  font-size: 24px;
  line-height: 1.5;
}

code {
  font-family: 'roboto mono', 'monaco', 'consolas', monospace;
}

.body p {
  text-align: justify;
}
.body p,
.body li {
  width: 700px;
  margin: 0 auto;
  font-family: 'roboto slab', serif;
  font-weight: lighter;
}
.body p code,
.body li code {
  color: #ff00ff;
  white-space: nowrap;
}
#wrapper h1 {
  font-size: 56px;
}
#disqus {
  margin-top: 100px;
}
#fail, #fix {font-weight: bold;}
#fail {color: red;}
#fix {color: green;}
