@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

body {
  font-family: Lato, sans-serif;
  padding-top: 50px;
}

nav {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar-static-top {
  margin-bottom: 0px;
  background-color: #000;
}
.navbar-header > a {
  font-weight: bold;
}

.container-fluid {
  height: 100vh;
}

.banner {
  height: 100vh;
  width: 100%;
  background: url(../images/banner3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner-text-container {
  position: relative;
  height: 550px;
}
.banner-text {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 200px;
  text-shadow: 1px 1px #000;
}
.banner-text h1 {
  font-weight: bold;
  margin: 0;
}

#wrapper {
  position: relative;
}

.portfolio {
  color: #fff;
  background-color: #333;
  height: 500px;
  overflow: hidden;
  height: 1%;
  box-shadow: 0px -5px 60px -10px rgba(0,0,0,1);
}
#portfolio {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
#portfolio .item {
  width: 360px;
  margin-bottom: 25px;
  background-color: #eee;
  color: #000;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 4px;
}
#portfolio .item #stack {
  color: #666;
}
.item h3 {
  font-weight: bold;
}

.skills {
  background-color: #fff;
}
#skills {
  margin-top: 40vh;
}

.contact {
  background-color: #2F9DDC;
  color: #fff;;
  padding-bottom: 20px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
.contact h3 {
  font-weight: bold;
}
#contact-form {
  width: 500px;
  margin: 0 auto;
}
#contact-form input,
#contact-form textarea {
  font-family: monaco, monospace;
}
#contact-form button {
  background-color: #FF3D00;
  /*background-color: #FF4A37;*/
}
#mail-success {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
}
#mail-success,
.help-block ul li {
  text-shadow: none;
}

.progress{
  box-shadow: 1px 1px rgba(0,0,0,0.3);
}
.progress .progress-bar {
  background-color: #2F9DDC;
}

#contact {
  margin-top: 30vh;
}
#contact h3 {
  margin-bottom: 20px;
}

footer {
  padding-bottom: 3px;
  background-color: #004C78;
  color: #0070B0;
}
footer img {
  width: 16px;
}
