body {
  height: 100%;
  font-family: lato, sans-serif;
  padding-top: 60px;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

nav.navbar {
  padding: 5px;

  .navbar-header > a,
  .navbar-nav > li > a {
    color: white;

    &:hover {
      color: cyan;
    }
  }

  .navbar-brand {
    font-size: 3em;
    font-weight: 900;
  }
}

#greeter {
  h1 {
    font-weight: 900;
  }
}

#portfolio > h1,
#skills > h1,
#contact > h1 {
  font-weight: 900;
}

#footer {
  height: 50px;
  position: fixed;
  padding-top: 15px;
  background-color: black;
  color: lightgray;
  width: 100%;
  bottom: 0;
}
