doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/blog.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css')
  body
    #wrapper
      a(href='/') back to articles

      h1.title= title
      span= date
      .body
        != body

    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js')
    script.
      hljs.initHighlightingOnLoad();
