doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/blog.css')
  body
    #wrapper
      each article in articles
        .article
          a(href='/blog/article/' + article.url)
            h3.title= article.title
          span.date= article.date
          if article.tags
            ul.tags
              each tag in article.tags
                li.tag= tag
