extends layout

block content
  .container-fluid
    .row
      .banner
        .container
          .banner-text-container
            .banner-text
              h1 Wahid Rahim
              p developer | blogger | entrepreneur

  #wrapper
    .portfolio.container-fluid
      .row
        .container
          .row
            .col-xs-12
              #portfolio
                // BLACKBOARD
                .item
                  img.img-responsive(src='https://giant.gfycat.com/TerribleOptimalBlackbuck.gif')
                  a(href='http://wahidrahim.com:3000/demo/blackboard', target='_blank')
                    h3 Blackboard
                  #stack
                    i Node.js, Express.js, Socket.io, Fabric.js, CoffeeScript
                  #desc
                    | Real-time multi-user drawing application. Made simply, thanks to Socket.io and Fabric.js.
                  a(href='https://github.com/wahidrahim/blackboard' target='_blank')
                    | https://github.com/wahidrahim/blackboard

                // CARPET
                .item
                  img.img-responsive(src='http://i.imgur.com/qq80zjW.png')
                  a(href='http://carpetblog.herokuapp.com/', target='_blank')
                    h3 Carpet
                  #stack
                    i Node.js, Express.js, Markdown
                  #desc
                    | A simple static blog engine. Built for extensibility and use of use.
                  a(href='https://github.com/wahidrahim/carpet', target='_blank')
                    | https://github.com/wahidrahim/carpet

                // MEAN-TODO-APP
                .item
                  img.img-responsive(src='http://i.imgur.com/uHPveze.jpg')
                  h3 mean-todo-app
                  #stack
                    i MongoDB, Express.js, Angular.js, Node.js
                  #desc
                    | The 'Hello World' of CRUD apps.
                  a(href='https://github.com/wahidrahim/mean-todo-app')
                    | https://github.com/wahidrahim/mean-todo-app

                // BREAKOUT-JS
                .item
                  img.img-responsive(src='https://zippy.gfycat.com/BeautifulLoathsomeDragon.gif')
                  a(href='https://goo.gl/Ef3CsR')
                    h3 breakout-js
                  #stack
                    i JavaScript, HTML, CSS
                  #desc
                    | The classic game in pure Object Oriented JavaScript.
                  a(href='https://github.com/wahidrahim/Breakout-JS')
                    | https://github.com/wahidrahim/Breakout-JS

                // CANDY-CRASH
                .item
                  img.img-responsive(src='http://i.imgur.com/ry1sXHy.gif')
                  h3 Candy-Crash
                  #stack
                    i C++, Bash, X-graphics
                  #desc
                    | A match-3 type of game, written in C++, in collaboration with Larry Li.
                  a(href='https://github.com/wahidrahim/Candy-Crash')
                    | https://github.com/wahidrahim/Candy-Crash

                // RESIZE-FONT
                .item
                  img.img-responsive(src='http://i.imgur.com/qsDPtsj.gif')
                  h3 resize-font.vim
                  #stack
                    i VimL
                  #desc
                    | A tiny script for making fonts bigger/smaller in gVim.
                  a(href='https://github.com/wahidrahim/resize-font.vim')
                    | https://github.com/wahidrahim/resize-font.vim

    .skills.container-fluid
      .container
        .row
          .col-xs-12
            #skills
              .row
                .col-sm-2
                .col-sm-1
                  p.text-center Javascript
                .col-sm-3
                  .progress
                    .progress-bar(role='progressbar', aria-valuemin='0', aria-valuenow=80, aria-valuemax='100', style='width: 80%')

                .col-sm-1
                  p.text-center HTML
                .col-sm-3
                  .progress
                    .progress-bar(role='progressbar', aria-valuemin='0', aria-valuenow=100, aria-valuemax='100', style='width: 100%')
                .col-sm-2

              .row
                .col-sm-2
                .col-sm-1
                  p.text-center CSS
                .col-sm-3
                  .progress
                    .progress-bar(role='progressbar', aria-valuemin='0', aria-valuenow=80, aria-valuemax='100', style='width: 85%')

                .col-sm-1
                  p.text-center C++
                .col-sm-3
                  .progress
                    .progress-bar(role='progressbar', aria-valuemin='0', aria-valuenow=60, aria-valuemax='100', style='width: 65%')
                .col-sm-2

              .row
                .col-sm-2
                .col-sm-1
                  p.text-center Java
                .col-sm-3
                  .progress
                    .progress-bar(role='progressbar', aria-valuemin='0', aria-valuenow=65, aria-valuemax='100', style='width: 70%')

                .col-sm-1
                  p.text-center Ruby
                .col-sm-3
                  .progress
                    .progress-bar(role='progressbar', aria-valuemin='0', aria-valuenow=60, aria-valuemax='100', style='width: 60%')
                .col-sm-2

              .row
                .col-sm-2
                .col-sm-1
                  p.text-center C
                .col-sm-3
                  .progress
                    .progress-bar(role='progressbar', aria-valuemin='0', aria-valuenow=55, aria-valuemax='100', style='width: 55%')

                .col-sm-1
                  p.text-center C#
                .col-sm-3
                  .progress
                    .progress-bar(role='progressbar', aria-valuemin='0', aria-valuenow=50, aria-valuemax='100', style='width: 50%')
                .col-sm-2

    .contact.container-fluid
      #contact.container
        .row
          .col-xs-12
            h3 contact me
            br
        .row
          .col-xs-12
            form#contact-form(role='form', data-toggle='validator', data-disable='false')
              fieldset
              .form-group
                input#name.form-control(placeholder='Name', required)
                .help-block.with-errors
              .form-group
                input#email.form-control(type='email', placeholder='Email', data-error='invalid email', required)
                .help-block.with-errors
              .form-group
                textarea#message.form-control(placeholder='Message', rows=5, required)
                .help-block.with-errors
              .form-group
                button#submit.btn.btn-primary.btn-block(type='submit') Send
