@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
  font-family: Lato, sans-serif;
  padding-top: 50px;
}

nav {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar-static-top {
  margin-bottom: 0px;
  background-color: #000;
}
.navbar-header > a img {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.banner {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  position: fixed;
}
.banner-text-container {
  position: relative;
  height: 550px;
}
.banner-text {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 200px;
  text-shadow: 1px 1px #000;
}
.banner-text h1 {
  font-weight: bold;
  margin: 0;
}

#wrapper {
  position: relative;
  padding-top: 600px;
}

.portfolio {
  color: #fff;
  background-color: #353330;
  height: 500px;
  overflow: hidden;
  height: 1%;
  box-shadow: 0px -5px 60px -10px rgba(0,0,0,1);
}
#portfolio {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
#portfolio .item {
  width: 360px;
  margin-bottom: 25px;
  background-color: #eee;
  color: #000;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 4px;
}
#portfolio .item #stack {
  color: #666;
}

.skills {
  background-color: #fff;
}
#skills {
  padding-top: 100px;
  padding-bottom: 85px;
}

.contact {
  background-color: #32bad5;
  color: #fff;;
  padding-bottom: 20px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
.contact h3 {
  font-weight: bold;
}
#contact-form {
  width: 500px;
  margin: 0 auto;
}
#contact-form input,
#contact-form textarea {
  font-family: monaco, monospace;
}
#contact-form button {
  background-color: #FF4A37;
}

.progress{
  box-shadow: 1px 1px rgba(0,0,0,0.3);
}
.progress .progress-bar {
  background-color: #32bad5;
}

footer {
  padding-bottom: 3px;
  background-color: #0095B3;
}
footer img {
  width: 16px;
}
