body {
  font-family: lato, sans-serif;
  padding-top: 60px;
}
nav.navbar {
  padding: 5px;
}
nav.navbar .navbar-header > a,
nav.navbar .navbar-nav > li > a {
  color: #fff;
}
nav.navbar .navbar-header > a:hover,
nav.navbar .navbar-nav > li > a:hover {
  color: #0ff;
}
nav.navbar .navbar-brand {
  font-size: 3em;
  font-weight: 900;
}
#greeter {
  background-image: url("../images/mtns.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-color: #000;
  color: #fff;
}
#greeter h1 {
  font-weight: 900;
}
#greeter #title {
  position: absolute;
  right: 0px;
  bottom: -420px;
}
#portfolio {
  background-color: #363434;
  min-height: 100% !important;
}
#portfolio h1 {
  color: #fff;
}
.portfolio {
  display: block;
  overflow: visible;
  margin-bottom: 20px;
  min-height: 420px !important;
}
.project {
  border: 1px solid #dadada;
  padding: 10px;
  background-color: #fff;
}
.project * {
  margin: 0;
  padding: 0;
}
.project p {
  color: #777;
}
.project h3 {
  font-weight: bold;
}
.project a {
  font-size: 1.2em;
}
#blackboard {
  width: 350px;
}
#candy-crash img {
  width: 360px;
}
#breakout-js video {
  width: 360px;
}
#skills {
  height: 100%;
  background-color: #eee;
  padding-bottom: 10px;
}
#portfolio h1,
#skills h1,
#contact h1 {
  font-weight: 900;
}
h1.portfolio,
h1.skills,
h1.contact {
  font-weight: 900;
}
#contact-form {
  margin: 0 auto;
  width: 720px;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#footer {
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  background-color: #000;
  color: #d3d3d3;
}
#skills {
  background: #ddd;
}
.progress {
  background-color: #333;
}
.progress .progress-bar {
  background-color: #0ff;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.25), rgba(0,0,0,0.25)), -webkit-linear-gradient(left, #0ff, #09f);
}
