body
  font-family: lato, sans-serif
  padding-top: 60px

#wrap
  min-height 100%
  height auto
  margin 0 auto -60px
  padding 0 0 60px

nav.navbar
  padding: 5px

  .navbar-header > a,
  .navbar-nav > li > a
    color: white
    &:hover
      color: cyan

  .navbar-brand
    font-size: 3em
    font-weight: 900

#greeter
  height: 500px
  background-color: #000
  h1
    color: #fff
    font-weight: 900

.portfolio
  display: block
  overflow: auto
  margin-bottom: 20px

.project
  // temp
  border: 1px solid black
  padding: 10px
  //background-color: #0af

  h3
    font-weight: bold
  a
    font-size: 1.2em


#candy-crash
  img
    width: 360px

#breakout-js
  video
    width: 360px

#skills
  height: 100%
  background-color: #eee
  padding-bottom: 10px

#portfolio h1,
#skills h1,
#contact h1
  font-weight: 900
h1.portfolio,
h1.skills,
h1.contact
  font-weight: 900

#footer
  position: fixed
  height: 50px
  padding-top: 15px
  background-color: black
  color: lightgray
  width: 100%
  bottom: 0
